<nav class="clear" id="subnav">
	<ul>
		<li class="settings">
			<span class="dropdown" dropdown on-toggle="toggled(open)">
				<a href="#">
					<small><span class="fui-gear"></span></small>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href>Popularity</a>
					</li>
					<li>
						<a href>Date</a>
					</li>
				</ul>
	    	</span>
	    </li>
		<li><a href="#" ng-click="showAll()" class="active">All</a></li>
		<li><a href="#" ng-click="showMy()">My ideas</a></li>
		<li><a href="#" ng-show="isModerator" ng-click="showUnaproved()">Pending</a></li>
	</ul>
</nav>
<!-- <a href="create">Create</a>



		<select ng-model="sortOrder" class="form-control">
			<option value="date">Date</option>
			<option value="popularity">Popularity</option>
		</select>-->

<div class="ideas">
	<div class="idea-search"><input ng-model="search" class="form-control" placeholder="Search for ideas" /></div>
	<ul>
		<li ng-repeat="item in items | orderBy: sortOrder | filter:search:strict | filter:selectedFilter" id="idea-{{item.id}}">
			<a ng-href="{{'item/'+item.id}}">
				
				<div class="idea-rating">{{ item.vote > 999 ? '&infin;' : item.vote}}</div>
				<div class="idea-content">
					<h4 class="idea-name">
					{{item.title}}
					</h4>
					<ul class="list-inline">
						<li class="author">{{item.status}}</li>
						<li class="author"><span class="fui-user"></span> {{item.author}}</li>
						<li class="comments"><span class="fui-bubble"></span> {{item.comments}}</li>
					</ul>
				</div>
			</a>
		</li>
		<p ng-hide="(items | filter:search:strict | filter:selectedFilter).length">Nothing here!</p>
	</ul>
</div>

