<div class="row">
	<div class="col-xs-12">
		<select ng-model="sortOrder" class="form-control">
			<option value="date">Date</option>
			<option value="popularity">Popularity</option>
		</select>
	</div>
	<div class="col-xs-12">
		<input ng-model="search" class="form-control" placeholder="Search for ideas" />
	</div>
</div>
<div class="ideas">
	<ul>
		<li ng-repeat="item in items | orderBy: sortOrder | filter:search:strict" id="idea-{{item.id}}">
			<a ng-href="{{'item/'+item.id}}">
				<div class="idea-content">
					<h4 class="idea-name">
					{{item.title}}
					</h4>
					<span class="author">{{item.status}}</span> | <span class="author">{{item.author}}</span> | <span class="comments">{{item.comments}}</span>
				</div>
			</a>
		</li>
	</ul>
</div>

