<h2>{{item.title}}</h2>

<div class="row" ng-show="item.message">
	<span class="col-xs-6">Message</span>
	<span class="col-xs-6">{{item.message}}</span>
</div>


<div class="row">
	<span class="col-xs-6">Author</span>
	<span class="col-xs-6">{{item.author}}</span>
</div>

<div class="row" ng-show>
	<span class="col-xs-6">Vote</span>
	<span class="col-xs-6">{{item.vote}}</span>
</div>

<div class="row" ng-show>
	<span class="col-xs-6">Status</span>
	<span class="col-xs-6">{{item.status}}</span>
</div>

<div class="row" ng-show>
	<span class="col-xs-6">Comments</span>
	<span class="col-xs-6">{{item.comments}}</span>
</div>
